@page
@model DAF_WEBAPP_V1._0._0.Pages.DONATIONS_VIEW.Total_DonationsModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Total Donated</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br />
    <h1>6 TOTAL MONETERY DONATIONS RECIEVED</h1>
    <br />
    <h1>19 TOTAL GOODS DONATIONS RECIEVED</h1>
</body>