@page
@model DAF_WEBAPP_V1._0._0.Pages.DONATIONS_VIEW.view_donationsModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - View </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h2>Authorized users can view donations here</h2>
<br />
<a class="btn btn-primary" href="/DONATIONS_VIEW/view_donations_goods">Goods</a>
<a class="btn btn-primary" href="/DONATIONS_VIEW/view_donations_money">Money</a>
<br />
<h2>Authorized users can allocate donations to disasters here</h2>
<a class="btn btn-primary" href="/DISASTER/DISASTER_VIEW">Allocate</a>
