/*body {
}
.btn-primary {
    color: #fff;
    background-color: #7D3C98;
    border-color: #F1C40F;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #7D3C98;
    border-color: #F1C40F;
}
*/