@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Disaster Alleviation Foundation web application</h1>
    <p>Donate Goods And Money to Help Victims in need.</p>
    <a href="/USER/user">Sign Up as user</a>
    <br />
    <a href="/USER/authorized_userLogin">Login as Authorized user</a>
</div>
